<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>PPIRL</title>
        <link rel="shortcut icon" href="../static/images/site/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="../static/css/site.css" type="text/css">
        <link rel="stylesheet" href="../static/css/style.css?q=410" type="text/css">
        <link rel="stylesheet" href="../static/css/ionicons.min.css" type="text/css">
        <link rel="stylesheet" href="../static/css/select.css?q=122" type="text/css">
        <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="../static/css/footer.css" type="text/css">
        <link rel="stylesheet" href="../static/css/animate.min.css">
        <script src="../static/javascript/jquery-3.2.1.min.js"></script>
        <script src="../static/javascript/popper.min.js"></script>
        <script src="../static/javascript/bootstrap.min.js"></script>
        <script src="../static/javascript/site.js"></script>
        <script src="../static/javascript/choice_panel.js?v=94"></script>
        <!-- <script src="../static/javascript/grading.js"></script> -->
        <!-- <script src="../static/javascript/form_submit.js?v=7"></script> -->
        <!-- <script src="../static/javascript/clickable.js?v=17"></script> -->
        <script type=text/javascript>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            $THIS_URL = "{{ thisurl }}";
            
            $user_data = "user in url: " + $THIS_URL + ";";
            $DELTA = {
            {% for d in delta %}
                "{{ d[0] }}":{{ d[1]}},
            {% endfor %}
            }
            $DELTA_CDP = {
            {% for d in delta_cdp %}
                "{{ d[0] }}":{{ d[1]}},
            {% endfor %}
            }
        </script>
        
    </head>

    <body id="wrapper">
        <div style="display: flex">
            <img src="/mindfirl-userstudy/mindfirl-adr2025/static/images/site/population_informatics_icon.png">
            <div id="title">
                <h3>{{ title }}</h3>
            </div>
        </div>
    </body>    
    <body id="wrapper">
        {% include "header.html" %}
    </body>
    <body>
        <div id="wrapper">
            {% include "table.html" %}
        </div>
		    <form> 
                <button class="submit-button" style="margin-left: 45% " >Submit</button>
            </form>

        <div id="footer_filler"></div>
        <footer class="footer">
            <div class="container">
                <span class="text-muted">Copyright © 2017 • Population Informatics Lab • Texas A&M University</span>
            </div>
        </footer>
    </body>

    

    
    <script  type=text/javascript>
        $('#email_hover').attr('title', 'In our preliminary voting, we encountered duplicate votes due to system errors. As a result, we are asking for your email address so that we can ensure there is only one vote for you. Once we have cleaned the data, we will delete your email to ensure that your responses are anonymous.');
        $('#email_hover').on('click', function(){
            alert('In our preliminary voting, we encountered duplicate votes due to system errors. As a result, we are asking for your email address so that we can ensure there is only one vote for you. Once we have cleaned the data, we will delete your email to ensure that your responses are anonymous.');
        })
        function add_all_options(id){
            $("#"+id).empty();
            
            var options = [];
            if(id.includes("q1")){
                options = ["Please select an option",
                            "Software allows for minimum disclosure -- identifiers can be opened on an ‘as needed’ basis",
                            "Software allows for tracking disclosures to enhance accountability",
                            "Software is configurable to optimize safe data use per project",
                            "Software allows for participants to feel good about the use of their data in a safe manner while still having confidence in the quality of the results.",
                            "Software allows for better accuracy in the record linkage process and the study results",
                            "Software allows for comprehensive privacy protection that is not available now"];
            } else if(id.includes("q2")){
                options =["Please select an option",
                            "Still potential for some information disclosure which may lead to false sense of protection",
                            "Still potential for misuse of information by authorized users (e.g. negligence, not sufficient training)",
                            "Still potential for hacking (i.e., misuse of information by unauthorized users)",
                            "Still requires checks and balances beyond the software to ensure protection (e.g., accountability for software configuration, checking for secure system setup)",
                            "Still potential for errors in the linkage process"]
            } else {
                options = ["Please select an option",
                            "Why are identifiers needed for this research?",
                            "What other information, besides personal identifiers, are used during linkage?",
                            "Who is the data custodian of the linked data (i.e., who has control of the data), where is the linkage taking place (i.e. which organization) and who will be doing it?",
                            "What accountability mechanisms (e.g., background checks, training, protocols) exist for persons involved in the research?",
                            "What infrastructure is in place to safeguard the data?",
                            "What is the purpose and scope of the study, including how the data will be used after the linkage?",
                            "Will the linked data be used for other purposes?",
                            "How will the results disseminated?",
                            "What is the protocol in the case of misuse?",
                            "Has the software been used before for research and has it enhanced protection as well as improve research quality?",
                            "Where can I get more information?"]
            }
            // var options = ["Please select an option", "A", "B", "C", "D", "E"]
            
            // if(id.includes("q1")){
            //     options.push("F");
            // }
            for(i = 0; i < options.length; i++){
                var opt = document.createElement('option');
                opt.value = options[i];
                opt.innerHTML = options[i];
                $("#"+id).append(opt);
            };
        };
        function modify_options(id, exclude){
            $("#"+id).empty();
            
           var options = [];
            if(id.includes("q1")){
                options = ["Please select an option",
                            "Software allows for minimum disclosure -- identifiers can be opened on an ‘as needed’ basis",
                            "Software allows for tracking disclosures to enhance accountability",
                            "Software is configurable to optimize safe data use per project",
                            "Software allows for participants to feel good about the use of their data in a safe manner while still having confidence in the quality of the results.",
                            "Software allows for better accuracy in the record linkage process and the study results",
                            "Software allows for comprehensive privacy protection that is not available now"];
            } else if(id.includes("q2")){
                options =["Please select an option",
                            "Still potential for some information disclosure which may lead to false sense of protection",
                            "Still potential for misuse of information by authorized users (e.g. negligence, not sufficient training)",
                            "Still potential for hacking (i.e., misuse of information by unauthorized users)",
                            "Still requires checks and balances beyond the software to ensure protection (e.g., accountability for software configuration, checking for secure system setup)",
                            "Still potential for errors in the linkage process"]
            } else {
                options = ["Please select an option",
                            "Why are identifiers needed for this research?",
                            "What other information, besides personal identifiers, are used during linkage?",
                            "Who is the data custodian of the linked data (i.e., who has control of the data), where is the linkage taking place (i.e. which organization) and who will be doing it?",
                            "What accountability mechanisms (e.g., background checks, training, protocols) exist for persons involved in the research?",
                            "What infrastructure is in place to safeguard the data?",
                            "What is the purpose and scope of the study, including how the data will be used after the linkage?",
                            "Will the linked data be used for other purposes?",
                            "How will the results disseminated?",
                            "What is the protocol in the case of misuse?",
                            "Has the software been used before for research and has it enhanced protection as well as improve research quality?",
                            "Where can I get more information?"]
            }
            for(i = 0; i < options.length; i++){
                if(exclude.indexOf(options[i]) < 0){
                    var opt = document.createElement('option');
                    opt.value = options[i];
                    opt.innerHTML = options[i];
                    $("#"+id).append(opt);
                }
            };
        };
        function reset_question(q){
            var question_n_ranks = $(".q"+q);
            question_n_ranks.each(function(){
                var id = $(this).attr("id");
                add_all_options(id);
            });
        }
        for(q=1; q<=3; q++){
            reset_question(q);
        }
        // modify_options("q1_r1", [1,2]);
// :input
         $("select").change(function(){
            var question_rank_element = $(this);
            var question_rank_id = question_rank_element.attr("id");
            var question_rank_value = $(this).val();
            var question_id = question_rank_id.split("_")[0];
            var question_number = question_id.split("")[1];
            // console.log(question_rank_element, question_rank_id, question_rank_value, question_id, question_number);
            var question_n_ranks = $(".q"+question_number);
            // console.log(question_n_ranks);
            var selected_options = [];
            // var selected_options_other = [];
            question_n_ranks.each(function(){
                var val = $(this).val();
                if(val != "Please select an option"){
                    selected_options.push(val);
                    // if($(this).attr("id") != question_rank_id){
                    //     selected_options_other.push(parseInt(val));
                    // }
                }
            });
            // console.log("selected options: ", selected_options);
            // console.log(selected_options_other);
            // console.log(question_rank_value);
            // console.log(selected_options_other.indexOf(question_rank_value));
            // if(selected_options_other.indexOf(parseInt(question_rank_value)) >= 0){
            //     alert("You have already selected this option.");
            // }
            question_n_ranks.each(function(){
                i_question_rank_id = $(this).attr("id");
                i_question_rank_value = $(this).val();
                if(question_rank_id != i_question_rank_id & i_question_rank_value == "Please select an option"){
                    console.log("new");
                    console.log(selected_options);
                    modify_options(i_question_rank_id, selected_options);
                }
                if(question_rank_id != i_question_rank_id & i_question_rank_value != "Please select an option"){
                    // selected_options_cp = selected_options;
                    var selected_options_cp = JSON.parse(JSON.stringify(selected_options));
                    // var selected_options_cp = jQuery.extend(true, {}, selected_options);
                    selected_options_cp.splice(selected_options_cp.indexOf(i_question_rank_value),1);
                    // console.log("already");
                    // console.log(selected_options_cp);
                    modify_options(i_question_rank_id, selected_options_cp);
                    $(this).val(i_question_rank_value);
                };
            });
         })
         function end_RL() {
             alert("Thank You!\n You may now close your browser or try again.");
         }
         function validateEmail(email) {
             var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
             return re.test(String(email).toLowerCase());
         }
         function validate(){
            // alert("validating....")
            var ret = [];
            for(i=1;i<=5;i++){
                // console.log(i);
                if(i<=3){
                    var question_n_ranks = $(".q"+i);
                    console.log(question_n_ranks);
                    question_n_ranks.each(function(){
                        var val = $(this).val();
                        if(val.includes("Please select")){
                            ret.push("Please complete question " + i);
                            
                        };
                     });
                } else if(i == 5){
                    // console.log($("#email").text());
                    // console.log($("#email").val());
                    if(!validateEmail($("#email").val())){
                        ret.push("Use a valid email");
                    };
                } else if(i == 4){
                    var qs = ['a','b','c','d','e','f','g','h','i','j','k'];
                    for(q=0; q<qs.length;q++){
                        rbn = "q4_"+qs[q];
                        val = $('input[name='+rbn+']:checked').val();
                        // console.log('input[name=q4_a]:checked').val());
                        if (typeof val == 'undefined'){
                            ret.push("Please complete question 4");
                        }
                    };  
                };
            
        };
        ret = ret.filter(function(item, i, ar){ return ar.indexOf(item) === i; });
        console.log(ret);
        if(ret.length == 0){
            return true;
        } else{
            alert(ret.join("\n"));
            return false;
        }
    };
    </script>

</html>
